*{
    color: rosybrown;
    font-size: 30px;
    font-weight: 900;
    border-radius: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.numberContainer{
    width: 440px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
    background-color: bisque;
    padding: 12px;
    flex-wrap: wrap;
    
}

button.number{
    width: 130px;
    height: auto;
    padding: 5px;
    margin: 2px;
    color:chocolate;
}

div.instructor{
    width: 420px;
    height: 100px;
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 24px;
    margin: 16px;
}

h2{
    color: black;
    margin-right: 5px;
}

.instructor div{
    width: 200px;
    height: auto;
}


div.interface{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    background-color: tan;
    margin: 16px;
}

button{
    background-color: floralwhite;
}

div.previous{
    color: #bc8f8f50;
    width: 400px;
    height: auto;
}